<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>de</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>FasT-printing-helper</string>
    <key>CFBundleIdentifier</key>
    <string>de.albisigns.fastprint</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>FasT-printing-helper</string>
    <key>CFBundleName</key>
    <string>FasT Ticket Printer</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>de.albisigns.de.fastprint</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fastprint</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
